.flex {
    display:flex;
}

body {

  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  #forecastsEl {
    display: flex;
    justify-content: center;
  }